*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Spartan',
 sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
}


.container {
  width: 80%;
  max-width: 1124px;
  margin: 0 auto;
}
.shop {
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
  outline: none;
}

.navbar {
  padding: 5rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-left: 5vw;
  padding-right: 5vw;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  z-index: 1;
}

.nav.active {
  background: white;
  height: 5vh;
}

.nav.active .toggler {
  content: url(../images/icon-close.svg);
  margin-right: 10vw;
}

.nav.active .logo {
  display: none;
}

.nav.active .list {
  display: flex;
}

.nav.active .space {
  opacity: 0.3;
}

.nav .space {
  height: 100vh;
  background: #000;
  position: absolute;
  width: 100vw;
  top: 12rem;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: all 0.3s;
}

.toggler {
  height: 2rem;
  content: url(./images/icon-hamburger.svg);
  cursor: pointer;
  transition: all 0.3s;
}

.logo {
  justify-self: center;
}

.logo img {
  height: 2rem;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: none;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.slider-container {
  position: relative;
}

.slider-content {
  height: 65vh;
  overflow-x: hidden;
  position: relative;
}

.slider-images {
  position: relative;
  height: 100%;
  transition: all .4s;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}



.slide-image.image1 {
  content: url(./images/mobile-image-hero-1.jpg);
}
.slide-image.image2 {
  content: url(./images/mobile-image-hero-2.jpg);
}
.slide-image.image3 {
  content: url(./images/mobile-image-hero-3.jpg);
}

.slider-btn {
  position: absolute;
  right: 0;
  top: 65vh;
  z-index: 1;
  display: flex;
  transform: translateY(-100%);
}

.slider-btn button {
  background: black;
  border: 0;
  padding: 2rem 3rem;
  cursor: pointer;
  outline: none;
}

.slider-btn button:hover {
  background: #1a1a1a;
}

.hero__content {
  overflow: hidden;
  position: relative;
  height: 45rem;
}

.image-slider-content {
  position: relative;
  height: 100%;
  transition: all .4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content {
  position: absolute;
  width: 100%;
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
}

.description {
  line-height: 1.7;
  color: hsl(0, 0%, 63%);
}

.shop {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: #000;
  padding: 2em 0;
  margin-top: 3rem;
}

.arrow {
  transition: transform .3s;
}

.shop:hover {
  opacity: .5;
}

.content{
  display: flex;
  flex-direction: row;
}

.second{
  padding: 40px;
}

@media screen and (min-width: 1024px) {
  .slider-container {
    display: flex;
  }
  .slider-content {
    width: 60%;
  }
  .slider-btn {
    left: 60%;
  }
  .title {
    font-size: 3rem;
    font-weight: 600;
  }
  .hero__content {
    width: 40%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-slider-content {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 704px) {
  .content{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      align-content: center;
  }
}

/* desktop view */

@media screen and (min-width: 1024px) {
  .slide-image.image1 {
    content: url(./images/desktop-image-hero-1.jpg);
  }
  .slide-image.image2 {
    content: url(./images/desktop-image-hero-2.jpg);
  }
  .slide-image.image3 {
    content: url(./images/desktop-image-hero-3.jpg);
  }
  .toggler {
    display: none;
  }
  .nav .space {
    display: none;
  }
  .list {
    display: flex;
    justify-content: left;
    margin-left: 4rem;
  }
  .nav-item {
    padding: 0rem 3rem;
  }
  .link {
    color: white;
  }
  .link::after {
    content: '';
    height: .2em;
    width: 100%;
    background: white;
    display: inline-block;
    transition: transform .2s;
    transform: scaleX(0);
  }
  .link:hover::after {
      transform: scaleX(0.5);
  }
}
